<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Twitter</a>
        <a class="navbar-brand" href="#">Github</a>
        <a class="navbar-brand" href="#">Linkedin</a>
    </div>
</nav>

